# Ignorar arquivos gerados por IDEs
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar arquivos específicos de MonoDevelop/Xamarin Studio
*.userprefs

# Ignorar arquivos gerados pelo Mono
mono_crash.*

# Ignorar arquivos de build
[Dd]ebug/
[Dd]ebugPublic/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignorar arquivos gerados pelo Visual Studio
.vs/
Generated\ Files/
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*_i.c
*_p.c
*_h.h

# Ignorar arquivos do NUnit e MSTest
*.VisualState.xml
TestResult.xml
nunit-*.xml
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Ignorar arquivos do .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Ignorar arquivos de publicação e web deploy
publish/
*.azurePubxml
*.pubxml
*.publishproj
PublishScripts/

# Ignorar arquivos de pacotes NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
!**/[Pp]ackages/repositories.config
*.nuget.props
*.nuget.targets

# Ignorar arquivos de Microsoft Azure e emuladores
csx/
*.build.csdef
ecf/
rcf/

# Ignorar arquivos gerados por VS Code e JetBrains Rider
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.sln.iml

# Ignorar arquivos de banco de dados
*.mdf
*.ldf
*.ndf

# Ignorar arquivos de SQL Server e Business Intelligence
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser

# Ignorar arquivos do Git LFS (se estiver usando)
*.gitattributes
